<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.colombina">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo_colombina"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_colombina"
        android:supportsRtl="true"
        android:theme="@style/Theme.Colombina"
        tools:targetApi="31">
        <activity
            android:name=".Info_historial"
            android:exported="false" />
        <activity
            android:name=".ContarProducto"
            android:exported="false" />
        <activity
            android:name=".Historial"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <activity
            android:name=".Producto"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>